.messages{data: {id: message.id, group_id: message.group_id}}
  .message__upper-info
    %p.message__upper-info__chatter
      = message.user.name
    %p.message__upper-info__date
      = message.created_at
  %p.message__text
    - if message.content.present?
      %p.message__text__content
        = message.content
    = image_tag message.image.url, class: 'message__text__image' if message.image.present?