!!!
%html
  %head
  %body
  .header
    .header__message<>
      グループを作成しました
  .contents
    .left-contents
      .left-contents__account
        .account__name
          はやし
        .account__btn
          Write
        .account__btn
          Setting
      .left-contents__group-name
        .group-name__title
          サンプル
        .group-name__message
          さよなら
    .right-contents
      .right-contents__group-member
        .group-member__title
          sample
        .group-member__members
          名前、名前、名前、名前
        .group-member__btn
          Edit
      .right-contents__messages
        .messages__name
          はやし
        .messages__date
          2019/09/25 18:29:21
        .messages__main
          さようなら
      .right-contents__input
        .input__textarea
          ここに書く
        .input__image
          貼り方あとでチェック
        .input__btn
          Send