.message{
  padding-bottom: 40px;
  &__upper-info{
    display: flex;
    margin-bottom: 10px;
    &__chatter{
      color: $other-fontcolor;
      font-size: 16px;
      font-weight: bold;
    }
    &__date{
      color: $date-fontcolor;
      font-size: 12px;
      margin-left: 10px;
    }
  }
  &__text{
    color: $other-fontcolor;
    font-size: 14px;
    margin-bottom: 10px;
  }
}