li {
  list-style: none;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.flash-box {
  height: auto;
  background-color: $send-color;
  text-decoration: none;
  text-align: center;
  @include font();
}

.chat-side {
  height: auto;
  width: 300px;
  color: $base;
  float: left;
  @include font();
  @include linkColor();
}

.side-header {
  background-color: $account-background;
  display: flex;
  height: 100px;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: space-between;
  
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  @include font();
}