li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.flash-box {
  height: auto;
  background-color: $send-color;
  text-decoration: none;
  text-align: center;
  @include font();
}

.wrapper{
  display: flex;
  .chat-side {
    height: auto;
    width: 300px;
    color: $base;
    text-decoration: none;
    @include font();
    @include linkColor();
    &__header {
      background-color: $account-background;
      display: flex;
      height: 100px;
      padding: 0 20px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      &__user-name{
        font-weight: bold;
      }
    }
    &__groups{
      height: calc(100vh - 100px);
      background-color: $menu-background;
      display: flex;
      padding: 20px 20px 0;
      &__group{
        margin: 0 0 40px;
      }
    }
  }

  .chat-main{
    width: calc(100vw - 300px);
    text-decoration: none;
    @include font();
    &__header{
      height: 100px;
      position: relative;
      padding: 0 40px;
    }
  }
}

.grouo-name{
  margin: 0 0 5px;
  @include font(15px)
}
.latest-message{
  @include font(11px);
}