@mixin font($font-size: 16px) {
  font-size: $font-size;
  font-style: Times;
}

@mixin linkColor($color:#fff){
  a:link { color: $color; }
  a:visited { color: $color; }
  a:hover { color: $color; }
  a:active { color: $color; }
}

@mixin linkDeco{
  text-decoration: none;
  }