$base: white;
$send-color: #38AEF0;
$account-background: #253141;
$menu-background: #2f3e51;
$messages-background: #fafafa;
$input-background: #DDDDDD;
$border: #eeeeee;
$basic-fontcolor: #FFF;
$main-fontcolor: #333;
$date-fontcolor: #999;
$other-fontcolor: #434A54;

$yokohaba: 250px;
$flex-display: flex;